<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>DSFulfill</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>DSFulfill</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>dsfulfill.com</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.46936126497-ul8fu94s1l0jt3d6r53sb0cpug5i9lle</string>
            </array>
        </dict>
        <dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1642964222919474</string>
			</array>
		</dict>
    </array>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>FacebookAppID</key>
    <string>1642964222919474</string>
    <key>FacebookClientToken</key>
    <string>c59ee422afbfc67202a3a231511a27ad</string>
    <key>FacebookDisplayName</key>
    <string>DSFulfill</string>
    <key>GIDClientID</key>
    <string>46936126497-ul8fu94s1l0jt3d6r53sb0cpug5i9lle.apps.googleusercontent.com</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>tel</string>
        <string>mailto</string>
        <string>wechat</string>
        <string>weixinULAPI</string>
        <string>weixin</string>
        <string>fbapi</string>
        <string>fb-messenger-share-api</string>
        <string>fbauth2</string>
        <string>fbshareextension</string>
        <string>fb-messenger-api</string>
        <string>facebook-stories</string>
        <string>facebook</string>
    </array>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
        <key>NSAllowsArbitraryLoadsInWebContent</key>
        <true/>
        <key>NSExceptionDomains</key>
        <dict>
            <key>alicdn.com</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSIncludesSubdomains</key>
                <true/>
            </dict>
        </dict>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>APP需要您的同意，才能访问相机设置个人头像信息、扫描二维码</string>
    <key>NSPasteboardUsageDescription</key>
    <string>APP需要您的同意，才能获取剪贴板内容以便识别商品链接</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>APP需要您的同意，才能保存图片到相册</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>APP需要您的同意，才能访问相册设置个人头像信息</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>APP需要访问本地网络以便连接调试设备和处理Facebook登录</string>
    <key>NSPrivacyCollectedDataTypes</key>
    <array>
        <dict>
            <key>NSPrivacyCollectedDataType</key>
            <string>NSPrivacyCollectedDataTypeOther</string>
            <key>NSPrivacyCollectedDataTypeDescription</key>
            <string>App functionality data</string>
            <key>NSPrivacyCollectedDataTypeLinked</key>
            <false/>
            <key>NSPrivacyCollectedDataTypePurposes</key>
            <array>
                <string>NSPrivacyCollectedDataTypePurposeAppFunctionality</string>
            </array>
            <key>NSPrivacyCollectedDataTypeTracking</key>
            <false/>
        </dict>
    </array>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>remote-notification</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>WKAppBoundDomains</key>
    <array>
        <string>o.alicdn.com</string>
        <string>g.alicdn.com</string>
        <string>h5api.m.taobao.com</string>
    </array>
    <key>io.flutter.embedded_views_preview</key>
    <true/>
</dict>
</plist>

